.container-principal {
  display: flex;
  flex-direction: column;
}

.nav-item {
  background-color: var(--color-font);
  font-family: var(--font-handlee);
  border-radius: 0 20px 20px 0;
  margin-bottom: 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  width: 150px;
  text-decoration-line: none;
  color: var(--color-wall);
  font-size: 1.1rem;
  font-weight: bold;
  transform: translateX(-105px);
  transition: transform 0.4s ease-out;
}

.nav-item:hover {
  transform: translateX(0px);
}

.active{
  background-color: var(--color-btns);
}

@media screen and (max-width: 580px) {
  .container-principal {
    flex-direction: row;
  }

  .text {
    display: none;
  }

  .nav-item {
    border-radius: 0;
    justify-content: center;
    transform: translateX(0px);
  }
}
