.container-nav {
  width: 5%;
  position: fixed;
  top: 10px;
  left: 0;
  height: auto;
  z-index: 100;
}

.container-contact-me {
  width: 8%;
  position: fixed;
  bottom: 0px;
  right: 0;
  height: auto;
  z-index: 100;
}

.container-principal {
  width: 100%;
  padding: 0 8% 0 6%;
  z-index: 1;
}

@media screen and (max-width: 580px) {
  .container-nav {
    width: 100%;
    top: 0px;
    height: 50px;
  }
  .container-contact-me {
    width: 100%;
    bottom: 12px;
    height: 50px;
  }
  .container-principal {
    width: 100%;
    padding: 50px 0;
  }
}
