@import url("https://fonts.googleapis.com/css2?family=Handlee&family=Roboto:wght@300&display=swap");

:root {
  --font-roboto: "Roboto", sans-serif;
  --font-handlee: "Handlee", cursive;
  --color-wall: #150f13;
  --color-btns: #f0ae96;
  --color-font: #ffe3df;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--color-wall);
  color: var(--color-font);
}
